

.nav-pills {
font-family: 'Trirong';
justify-content: center;
margin: 2em;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #bdbb62;
    border: 0.5px solid rgb(150, 150, 150);
    
}

a {
    color: black;
}

a:hover {
    color:black;
}

h1 {
    font-family: 'Trirong';
    font-size: 30px;
    text-align: center;
    margin-bottom: 1em;
    
}

#clients a {
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
}

.container {
    background-color: #f8f8e5;
    height: 500px;
    padding: 2em;
}


.about {
    margin-top: 2em;
}

.clients {
    margin-top: 2em;
    text-align: center;
    list-style-type: none;
}